<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>Web Demo</title>

    <link rel="stylesheet" href="static/main.css">
    <script src="static/main.js"></script>
</head>
<body>


<div class="main-grid">
    <div class="main-grid__input">
        <form action="upload" method="POST" enctype="multipart/form-data">
        <input type="file" id="file" name="file">
        <br><br>

            <label for="languageCode"><span th:text="#{language_code}">Language Code</span><sup>*</sup></label>
            <input type="text" id="languageCode" name="languageCode" placeholder="en, fr, aa, ...">

            <label for="resourceType"><span th:text="#{resource_type}">Resource Type</span><sup>*</sup></label>
            <input type="text" id="resourceType" name="resourceType" placeholder="ulb, tq, tn, ...">

            <label for="projectId"><span th:text="#{book_id}">Book ID</span></label>
            <input type="text" id="projectId" name="projectId" placeholder="gen, mat, exo, ...">

            <label for="mediaExtension"><span th:text="#{media_extension}">Media Extension</span><sup>1</sup></label>
            <select name="mediaExtension" id="mediaExtension">
                <option value="" th:text="#{NA}">N/A</option>
                <option th:each="extension: ${extensionList}" th:value="${extension}" th:text="${extension}"></option>
            </select>

            <label for="mediaQuality"><span th:text="#{media_quality}">Media Quality</span><sup>2</sup></label>
            <select name="mediaQuality" id="mediaQuality">
                <option value="" th:text="#{NA}">N/A</option>
                <option th:each="quality: ${qualityList}" th:value="${quality}" th:text="#{${quality}}"></option>
            </select>

            <label for="grouping"><span th:text="#{grouping}">Grouping</span><sup>*</sup></label>
            <select name="grouping" id="grouping">
                <option th:each="grouping: ${groupingList}" th:value="${grouping}" th:text="#{${grouping}}"></option>
            </select>

            <input id="submit" type="submit" th:value="#{submit}">

            <hr>

        <p class="main-grid__footer">
            <sup>1</sup>
            <span th:text="#{footnote_1}">
                required only if uploading a .tr file
            </span>
        </p>
        <p class="main-grid__footer">
            <sup>2</sup>
            <span th:text="#{footnote_2}">
                required only if uploading a compressed file format (defaults to hi if empty)
            </span>
            </p>
        </form>
    </div>

</div>

<div class="main-grid__output main-grid__success">
    <br>
    <svg width="24"
         height="24"
         viewBox="0 0 24 24">
        <defs>
            <clipPath id="clip-path">
                <rect id="Rectangle_140" data-name="Rectangle 140" width="24" height="24"
                      transform="translate(0)" fill="#111a31" opacity="0"/>
            </clipPath>
        </defs>
        <g id="Check_Icon" transform="translate(-398 -121)">
            <g id="Mask_Group_3" data-name="Mask Group 3" transform="translate(398 121)"
               clip-path="url(#clip-path)">
                <path id="ic_check_24px"
                      d="M9.766,17.424,5.025,12.76,3.41,14.337,9.766,20.59,23.41,7.167l-1.6-1.577Z"
                      transform="translate(-1.41 -0.59)" fill="#111a31"/>
            </g>
        </g>
    </svg>
    <p class="main-grid__success-message"></p>
</div>
<div class="main-grid__output main-grid__error">
    <br>
    <svg width="24" height="24" viewBox="0 0 24 24">
        <g id="icon_secondary_idle_glyph:plus_" data-name="icon [secondary idle][glyph:plus]"
           transform="translate(0 25)">
            <rect id="icon_area" data-name="icon area" width="24" height="24" transform="translate(0 -25)"
                  fill="#111a31" opacity="0"/>
            <path id="Icon_material-close" data-name="Icon material-close"
                  d="M19,6.41,17.59,5,12,10.59,6.41,5,5,6.41,10.59,12,5,17.59,6.41,19,12,13.41,17.59,19,19,17.59,13.41,12Z"
                  transform="translate(0 -25)" fill="#111a31"/>
        </g>
    </svg>
    <p class="main-grid__error-message"></p>
</div>

</body>
</html>