body {
    padding: 3%;
}

/* Style inputs with type="text", select elements and textareas */
input[type=text], select, textarea {
    width: 100%; /* Full width */
    padding: 12px; /* Some padding */
    border: 1px solid #ccc; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    box-sizing: border-box; /* Make sure that padding and width stays in place */
    margin-top: 6px; /* Add a top margin */
    margin-bottom: 16px; /* Bottom margin */
    resize: vertical /* Allow the user to vertically resize the textarea (not horizontally) */
}

/* Style the submit button with a specific background color etc */
input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

/* When moving the mouse over the submit button, add a darker green color */
input[type=submit]:hover {
    background-color: #45a049;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

/* Add a background color and some padding around the form */
.input-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    margin: auto;
}

.output-container {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 20px;
    width: 90%;
    margin: auto;
}

.success {
    background-color: #cdffcf;
    animation: enlarge 1.2s ease-in-out alternate;
    -webkit-animation: enlarge 1.2s ease-in-out alternate;
}

.error {
    background-color: #ffa9b9;
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    -webkit-animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes enlarge {
    0%, 100% { transform: scale(1)   }
    50%      { transform: scale(1.05) }
}

@keyframes shake {
    10%, 90% {
        transform: translate3d(-1px, 0, 0);
    }

    20%, 80% {
        transform: translate3d(2px, 0, 0);
    }

    30%, 50%, 70% {
        transform: translate3d(-4px, 0, 0);
    }

    40%, 60% {
        transform: translate3d(4px, 0, 0);
    }
}

.footnote {
    font-size: 0.75rem;
}
