body {
    padding: 3%;
}

input[type=text], select, textarea {
    width: 100%;
    padding: 12px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 6px;
    margin-bottom: 16px;
    resize: vertical
}

input[type=submit] {
    background-color: #4CAF50;
    color: white;
    padding: 12px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

input[type=submit]:hover {
    background-color: #45a049;
}

.main-grid {
    display: grid;
    grid-template-columns: 1fr;
    margin-bottom: 15%;
}

.main-grid__input {
    border-radius: 5px;
    background-color: #f2f2f2;
    padding: 2%;
    width: 90%;
    margin: auto;
}

.main-grid__output {
    border-radius: 5px;
    background-color: #f2f2f2;
    width: 90%;
    margin: auto;
    text-align: center;
    max-height: 0;
    overflow: hidden;
    transition: all .5s ease;
    position: fixed;
    bottom: 5%;
    left: 0;
    right: 0;
}

.main-grid__output--success {
    background-color: #cdffcf;
    max-height: 100%;
    transition: all .5s ease;
}

.main-grid__output--error {
    background-color: #ffa9b9;
    max-height: 100%;
    transition: all .5s ease;
}

.main-grid__footer {
    font-size: 0.75rem;
}
